.container-ranking {
  align-items: center;
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container-ranking h2 {
  display: flex;
  flex-grow: 1;
}

.content-ranking {
  flex-grow: 2;
}

.content-ranking {
  border: 1px solid yellow;
  height: 300px;
  width: 300px;
}

.player {
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.player img {
  width: 65px;
}